<ion-view view-title="Project Impediments" ng-controller="ImpedimentListCtrl as vm">
  <ion-header-bar class="bar bar-subheader">
    <label class="item item-input item-select">
      <div class="input-label">
        Show: 
      </div>
      <select ng-model="query.owner">
          <option value="">All</option>
          <option selected value="Tiisetso">Mine</option> <!-- Use logged in user from session -->
      </select>
    </label>
  </ion-header-bar>
  <ion-content>
    <div class="list">
          <ion-item class="item-avatar" type="item-text-wrap" 
                                        href="#/home/impediments/{{impediment._id}}"
                                        ng-click="setCurrentImpedimentId(impediment._id)"
                                        ng-repeat="impediment in vm.impediments | orderBy : sortOrder | filter:query">
            <img src="img/{{impediment.owner}}.png"/>
            <p></p>
            <b>Summary:</b> {{impediment.summary}}
            <p></p>
            <b>Description:</b> {{impediment.description}}
            <p></p>
            <b>Date Logged:</b> {{impediment.loggedOn | date: 'mediumDate'}}
            <p></p>
            <b>{{impediment.updates.length}} Updates</b>
          </ion-item>
      </div>
  </ion-content>
</ion-view>
