<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
 <!-- Risks Tab -->
  <ion-tab title="Risks" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" ui-sref="home.impediments">
    <ion-nav-view name="impediments"></ion-nav-view>
  </ion-tab>
</ion-tabs>
