<ion-view view-title="Risk Detail" ng-controller="ImpedimentsDetailCtrl as vm">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/{{vm.impediment.owner}}.png"/>
                <h2></h2>
                <p>{{vm.impediment.loggedOn | date:'mediumDate'}}</p>
                <p>{{vm.impediment.summary}}</p>
            </div>

            <div class="item item-body">
                <p>{{vm.impediment.description}}</p>
                <div>
                    <ion-item class="item-stable" ng-click="vm.toggleUpdates()">
                        <i class="icon" ng-class="isExpanded ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        {{vm.impediment.updates.length}} Updates
                    </ion-item>  
                    <ion-item class="item-accordion" ng-repeat="update in vm.impediment.updates | limitTo: vm.impediment.updates.length" ng-show="vm.isExpanded">
                        <b> {{update.date | date:'mediumDate'}} : </b>{{update.comment}}.  
                        <b> - {{update.updatedBy}}</b>
                    </ion-item>
                </div>

                <form ng-submit="vm.updateImpediment()">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Any new update to impediment?" ng-model="vm.newUpdate.comment">
                    </label>
                </form>
            
            </div>
            
            <div class="item tabs tabs-secondary tabs-icon-left">           
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox-working"></i>  Ping Owner
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>Send Email
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--                     <label class="item-input-wrapper">
                        <input type="text" placeholder="Update impediment..." ng-model="newUpdateText"></input>
                    </label>
                    <button class="button button-small" ng-click="UpdateRisk()">Update</button> -->