<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
   
    <script src="lib/ionic/js/ionic.bundle.js"></script>
     <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>  
    <script src="app/home/home-controller.js"></script>
    <script src="app/home/impediment-list-controller.js"></script>
    <script src="app/details/impediment-details-controller.js"></script>
    <script src="app/shared services/impediments-api.js"></script>

  </head>
    <body ng-app="ImpedimentsApp" ng-controller="HomeCtrl as vm">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>  
      <!--ion-nav-buttons side="left">       
        <button class="button icon-left ion-home">Home</button>
      </ion-nav-buttons -->
      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-compose" ng-click="modal.show()"></button>
        <a class="button button-icon icon ion-more" ng-click="popover.show($event)"></a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    /*
    These need to go to separate files
    */

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-calm">
                <h1 class="title">New Impediment</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list input-inset">
                    <label class="item item-input">
                        <input ng-model="newImpediment.summary" type="text" placeholder='Summary'>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Proximity</span>
                        <input type="date" ng-model="newImpediment.proximity">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Severity
                        </div>
                        <select ng-model="newImpediment.severity">
                            <option>High</option>
                            <option selected>Medium</option>
                            <option>Low</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <input ng-model="newImpediment.description" type="text" placeholder='Description'>
                    </label>
                    <button class="button button-full button-calm" ng-click="vm.createImpediment(newImpediment)">Create</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-content>
                <div class="list">
                    <a class="item" href="#" target="_blank">
                        Register Project
                    </a>
                    <a class="item" href="#" target="_blank">
                        Admin Tasks
                    </a>
                    <a class="item" href="#" target="_blank">
                        Checkpoint Export
                    </a>
                    <a class="item" href="#" target="_blank">
                        Help
                    </a>
                    <a class="item" href="#" target="_blank">
                        Logout
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>

  </body>
</html>
